# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_tflow_select=2.3.0=mkl
absl-py=0.10.0=py37_0
addict=2.3.0=pypi_0
albumentations=0.5.1=pypi_0
aniso8601=8.0.0=pypi_0
appdirs=1.4.4=pypi_0
asgiref=3.2.10=pypi_0
astor=0.8.1=py37_0
blas=1.0=mkl
c-ares=1.16.1=h7b6447c_0
ca-certificates=2020.10.14=0
certifi=2020.6.20=py37_0
cityscapesscripts=2.1.7=pypi_0
click=7.1.2=pypi_0
coloredlogs=14.0=pypi_0
cycler=0.10.0=pypi_0
cython=0.29.21=pypi_0
decorator=4.4.2=pypi_0
django=3.1.2=pypi_0
flask=1.1.2=pypi_0
flask-restful=0.3.8=pypi_0
future=0.18.2=pypi_0
gast=0.2.2=py37_0
google-pasta=0.2.0=py_0
grpcio=1.31.0=py37hf8bcb03_0
h5py=2.10.0=py37hd6299e0_1
hdf5=1.10.6=hb1b8bf9_0
humanfriendly=8.2=pypi_0
image=1.5.32=pypi_0
imagecorruptions=1.1.0=pypi_0
imageio=2.9.0=pypi_0
imgaug=0.4.0=pypi_0
importlib-metadata=2.0.0=py_1
imutils=0.5.3=pypi_0
intel-openmp=2020.2=254
itsdangerous=1.1.0=pypi_0
jinja2=2.11.2=pypi_0
joblib=0.17.0=pypi_0
keras=2.3.1=pypi_0
keras-applications=1.0.8=py_1
keras-preprocessing=1.1.0=py_1
kiwisolver=1.3.1=pypi_0
ld_impl_linux-64=2.33.1=h53a641e_7
libedit=3.1.20191231=h14c3975_1
libffi=3.3=he6710b0_2
libgcc-ng=9.1.0=hdf63c60_0
libgfortran-ng=7.3.0=hdf63c60_0
libprotobuf=3.13.0.1=hd408876_0
libstdcxx-ng=9.1.0=hdf63c60_0
lmdb=1.0.0=pypi_0
markdown=3.3.2=py37_0
markupsafe=1.1.1=pypi_0
matplotlib=3.3.3=pypi_0
mkl=2020.2=256
mkl-service=2.3.0=py37he904b0f_0
mkl_fft=1.2.0=py37h23d657b_0
mkl_random=1.1.1=py37h0573a6f_0
mmcv=1.2.0=pypi_0
ncurses=6.2=he6710b0_1
networkx=2.5=pypi_0
numpy=1.19.2=py37h54aff64_0
numpy-base=1.19.2=py37hfa32c7d_0
opencv-python=4.4.0.44=pypi_0
opencv-python-headless=4.4.0.46=pypi_0
openssl=1.1.1h=h7b6447c_0
opt_einsum=3.1.0=py_0
pillow=8.0.1=pypi_0
pip=20.2.4=py37_0
protobuf=3.13.0.1=py37he6710b0_1
pyparsing=2.4.7=pypi_0
pyquaternion=0.9.9=pypi_0
python=3.7.9=h7579374_0
python-dateutil=2.8.1=pypi_0
pytz=2020.1=pypi_0
pywavelets=1.1.1=pypi_0
pyyaml=5.3.1=pypi_0
readline=8.0=h7b6447c_0
scikit-image=0.17.2=pypi_0
scikit-learn=0.23.2=pypi_0
scipy=1.5.2=py37h0b6359f_0
setuptools=50.3.0=py37hb0f4dca_1
shapely=1.7.1=pypi_0
six=1.15.0=py_0
sklearn=0.0=pypi_0
sqlite=3.33.0=h62c20be_0
sqlparse=0.4.1=pypi_0
tensorboard=1.15.0=pyhb230dea_0
tensorflow=1.15.0=mkl_py37h28c19af_0
tensorflow-base=1.15.0=mkl_py37he1670d9_0
tensorflow-estimator=1.15.1=pyh2649769_0
termcolor=1.1.0=py37_1
terminaltables=3.1.0=pypi_0
threadpoolctl=2.1.0=pypi_0
tifffile=2020.10.1=pypi_0
tk=8.6.10=hbc83047_0
torch=1.4.0+cpu=pypi_0
torchvision=0.5.0+cpu=pypi_0
tqdm=4.52.0=pypi_0
typing=3.7.4.3=pypi_0
webencodings=0.5.1=py37_1
werkzeug=0.16.1=py_0
wheel=0.35.1=py_0
wrapt=1.12.1=py37h7b6447c_1
xz=5.2.5=h7b6447c_0
yapf=0.30.0=pypi_0
zipp=3.3.1=py_0
zlib=1.2.11=h7b6447c_3
